RewriteEngine On
RewriteCond %{REQUEST*URI} ^/system.*
RewriteRule ^(.\_)$ index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L]
